.hv-100{
    height: 100vh;
}
.border-b-dot{
    border-bottom: 1px dotted var(--border-color-primary);
}
.pr-detail-wrapper{
    padding: 10px;
}
.prd-pf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prd-pf p{
    color: var(--font-color-b);
    font-weight: 500;
}

.ft-c-g{
    color: var(--font-color-third) !important;
}
@media only screen and (max-width:767px){
    .wish-content-wrapper{
        padding-bottom: 30px;
    }
}