#thumb-swip-img .swiper-slide{
    width: 100% !important;
    margin: 0px 0px 16px;
    border: 1px solid #dfdfdf;
    padding: 5px;
}
#main-swip-img .swiper-slide{
    border: 1px solid #dfdfdf;
    padding: 15px;
}
#thumb-swip-img  .swiper-slide-thumb-active{
    opacity: .8;
    border: 2px solid #000000;
}