/* #thumb-swip-img  .swiper-slide{
    width: 100% !important;
    margin: 0px 0px 16px;
    border: 1px solid #dfdfdf;
    padding: 5px;
}
     */

#main-swip-img .swiper-slide{
    border: 1px solid var(--border-color-primary);
    padding: 15px;
}
#thumb-swip-img  .swiper-slide-thumb-active{
    opacity: .8;
    border: 2px solid #000000;
}
@media only screen and (min-width: 768px) {
    #thumb-swip-img .swiper-wrapper .swiper-slide {
        width: 100% !important;
        margin: 0px 0px 16px;
        border: 1px solid var(--border-color-primary);
        padding: 5px;
    }
}


.custom-large-image{
    position: fixed !important;
    z-index: 9999 !important;
    top: 0% !important;
    left: 0% !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    /* left: 110% !important;
    width:  150% !important; */
    background: #fff !important;
}
/* .pdimgss{
    overflow: visible !important;
}
.pdimgss .swiper-wrapper .swiper-slide > div{
    display: none !important;
}
.pdimgss .swiper-wrapper .swiper-slide.swiper-slide-active > div{
    display: block !important;
} */