
.hp-swiper-c-wrapper{
    border:1px solid var(--border-color-primary);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
.hp-disc-conte{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
.hp-disc-conte p{
    font-weight: bold;
}
.hp-disc-conte p:nth-child(2){
    font-size: 13px;
    text-decoration: line-through;
}
.hp-disc-conte p:first-child{
    color:var(--font-color-primary) ;
}
.hp-disc-conte p:last-child{
    color: var(--font-color-third);
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 12px ;
    color: #ffffff;
    font-weight: bold;
}
.swiper-button-prev, .swiper-button-next{
    background: #000000;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.hp-swip-th-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
