.mr-2{
    margin-right: 10px;
}
.wish-content-wrapper h5{
    font-weight: bold;
}
.cart-incdec-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart-incdec-btn{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 16px;
}
.cartinc-inp{
    border: 1px solid var(--border-color-primary);
    width: 55px;
    text-align: center;
}
.wish-content-wrapper-link{
    text-decoration: none;
}
.wish-content-wrapper-link:hover{
    opacity: .9;
}