.hp-disc-conte{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.hp-disc-conte p{
    font-weight: bold;
}
.hp-disc-conte p:nth-child(2){
    font-size: 13px;
    text-decoration: line-through;
}
.hp-disc-conte p:first-child{
    color:var(--font-color-primary) ;
}
.hp-disc-conte p:last-child{
    color: var(--font-color-third);
}

.hp-swip-th-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.cart-btn{
    border: none;
    background: var(--background-color-sec);
    color: var(--font-color-br);
    padding: 6px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.cart-btn:hover{
    opacity: .8;
}


.wish-btn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius:100% ;
    color: var(--font-color-br);
    background: var(--background-color-third);
}

.wishlist-prp{
    position: relative;
}
.wish-wrapper{
    position: absolute;
    top: 4%;
    z-index: 1;
    right: 7%;
}

.ft-b{
    font-weight: bold;
}

.vh-80{
    height: 80vh;
}

.txt-dash{
    text-decoration: line-through;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.no-prod-wrapper{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}


@media  only screen and (max-width:767px) {
    .hp-disc-conte{
        gap: 10px;
        font-size: 13px;
    }
    .hp-swip-th-title{
        font-size: 14px;
    }
    .marg-t-2{
        margin-top: 40px;
    }
}
