:root{
    --font-color-primary:#30373e;
    --font-color-secoundary:#7d7d7d;
    --font-color-third:#388e3c;
    --font-color-br:#fff;
    --font-color-b:#000;
    --background-color-primary:#f8fafc;
    --background-color-for:#fff;
    --background-color-sec:#000;
    --background-color-third:#7d7d7d;
    --border-color-primary:#dfdfdf;
}

.light-color{
    --font-color-primary:#30373e;
    --font-color-secoundary:#7d7d7d;
    --font-color-third:#388e3c;
    --font-color-br:#fff;
    --font-color-b:#000;
    --background-color-primary:#f8fafc;
    --background-color-for:#fff;
    --background-color-sec:#000;
    --background-color-third:#7d7d7d;
    --border-color-primary:#dfdfdf;
}
.dark-color{
    --font-color-primary:#ffffff;
    --font-color-secoundary:#7d7d7d;
    --font-color-third:#388e3c;
    --font-color-br:#000;
    --font-color-b:#fff;
    --background-color-primary:#121214;
    --background-color-for:#000;
    --background-color-sec:#fff;
    --background-color-third:#7d7d7d;
    --border-color-primary:#404040;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body ,#root,#themechange{
    background: var(--background-color-primary);
    color: var(--font-color-primary);
    
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    color: var(--font-color-secoundary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-primary);
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgb(17, 16, 36) 93.2% );
}
main{
    min-height: 85vh;
}
.color-red{
    color: red;
}

.bg-white{
    
    background-color:var(--background-color-for) !important ;
}