.navbar-links-ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: end;
}

.navbar-wrapper{
    padding: 20px 0;
    box-shadow: 0 8px 6px -4px #88888838;
}
.navbar-search-wrapper .nav-scr-inp,
.navbar-search-wrapper .nav-scr-btn{
    border: 0;
    background: transparent;
    border: 1px solid #808080;
    padding: 6px 10px;
    color: #808080;
}
.navbar-search-wrapper .nav-scr-inp{
    width: 50%;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
    border-right: 0;
}
.navbar-search-wrapper .nav-scr-btn{
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    border-left: 0;
}
.navbar-search-wrapper .nav-scr-inp:focus-within{
    outline: none;
}
.navbar-links-ul li .nav-link{
    color: #000;
    text-align: none;
}

.nav-cqpa{
    position: relative;
}
.nav-cq{
    position: absolute;
    height: 18px;
    width: 18px;
    background: #000;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    left: 100%;
    top: -10%;
}